.i-2-icon {
    top: 878px;
    left: 22px;
    border-radius: 18px;
    width: 1840px;
    height: 195px;
    object-fit: cover;
}
.i-1-icon,
.i-2-icon,
.pro {
    position: absolute;
}
.i-1-icon {
    top: 230px;
    left: 346px;
    border-radius: 247.5px;
    width: 1192px;
    height: 640px;
    object-fit: cover;
}
.pro {
    bottom: 286px;
    left: calc(50% - 191px);
    letter-spacing: 0.48em;
    line-height: 473.02%;
    display: inline-block;
    width: 772px;
    height: 485px;
}
.i-3-icon,
.i-4-icon,
.i-5-icon {
    position: absolute;
    top: 12px;
    left: 57px;
    width: 1770px;
    height: 210px;
    object-fit: cover;
}
.i-4-icon,
.i-5-icon {
    top: 222px;
    left: 0;
    border-radius: 70px;
    width: 331px;
    height: 648px;
}
.i-5-icon {
    left: 1556px;
    border-radius: 86px;
    width: 328px;
}
.slide-169-1-child {
    position: absolute;
    top: 566px;
    left: 1151px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.slide-169-1 {
    position: relative;
    background-color: #160404;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 1133px;
    mix-blend-mode: normal;
    text-align: left;
    font-size: 128px;
    color: red;
    font-family: var(--font-inter);
}

